<div class="header">
  <div class="tw-text-24-px tw-font-600">Open Books Library</div>
  <div class="search-button">
    <i class="material-icons">search</i>
    <input
      [formControl]="bookSearch"
      name="searchKey"
      type="text"
      placeholder="Search Books"
      class="tw-border-0 tw-bg-inherit"
    />
    <button
      mat-icon-button
      [class.hide]="bookSearch.value === ''"
      (click)="bookSearch.setValue('')"
    >
      <mat-icon aria-label="Clear Search Input">close</mat-icon>
    </button>
  </div>
</div>

<div class="tw-flex tw-flex-row tw-m-24-px">
  <section class="trending-subjects">
    <div class="tw-font-600 tw-text-24-px">Trending Subjects</div>
    <ul class="tw-list-none tw-pl-0">
      <li
        class="tw-text-16-px tw-cursor-pointer tw-p-12-px"
        *ngFor="let subject of trendingSubjects"
        routerLink="/trending-subject/{{ subject.name }}"
      >
        {{ subject.name }}
      </li>
    </ul>
  </section>
  <div style="flex-grow: 1">
    <div *ngIf="isLoading; else loadedContent" class="spinner-container">
      <div class="spinner"></div>
    </div>
    <ng-template #loadedContent>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="searchResults.length > 0; else noResults">
        <div *ngIf="searchResults && searchResults.length > 0">
          <front-end-internship-assignment-table-view
            [booksList]="searchResults"
            [subjectName]="subjectName"
          ></front-end-internship-assignment-table-view>
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="handlePageChange($event)"
          >
        </pagination-controls>
        </div>
      </div>
      <ng-template #noResults>
        <p class="no-results">No results found.</p>
      </ng-template>
    </ng-template>
  </div>
</div>
